*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    display: grid;
    place-items: center;
    display: flex;
    margin-left: 450px;
}


.calculadora{
    position: absolute;
    background-color: #92939c;
    color: white;
    width: 350px;
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: .5rem;
    box-shadow: -3px 5px 40px rgb(36, 35, 35);


}

.pantalla {
    grid-column: 1/-1;
    background-color: #090c31;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: right;
    border-radius: .5rem;
    margin-bottom: 1rem;
    font-family: monospace;
    font-weight: 600;
    display: flex;
    flex-direction: column;
}

#pantallatwo {
    font-size: 1.2rem;
    color: #c0c0c0;  
}

.number {
    font-size: 2rem;
    font-weight: bold;
    color: white;  
}

.btn{
    background-color: #15173c;
    color: white;
    border: 0;
    padding: 1.5rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    cursor: pointer;
}

.btn:hover{
    background-color: #090c31;
}

#cero{
    grid-column: span 2;
}

#igual{
    grid-row: span 2;
    background-color: #e6394a;
}

#igual:hover{
    background-color: #e65766;
}

#historial-linea {
    display: none; 
    border: 1px solid #ffffff; 
    margin-bottom: 10px;
}

.history{
    position: absolute;
    background-color: rgb(146, 147, 156,0);
    overflow-y: auto;
    margin-left: 30px;
    top: 70px;
    max-width: 250px;
    width: 200px;
    height: 250px;
    max-height: 400px;
}
.historial-container {
    position: absolute;
    display: grid;
    background-color: rgb(146, 147, 156,0.5);
    color: black;
    padding: 1rem;
    border-radius: 1rem;
    max-width: 250px;
    width: 250px;
    height: 400px;
    max-height: 400px;
    text-align: center;
    margin-left: 450px;
    box-shadow: -3px 5px 40px rgb(32, 29, 29);
    color: #fff;
}

.btn-clear {
    background-color: #e6394a;
    color: white;
    border: 0;
    padding: 1rem;
    margin-top: 300px;
    cursor: pointer;
    border-radius: 0.5rem;
}

.btn-clear:hover {
    background-color: #e65766;
}

.text{
color: #ffffff;
}